/* Esimerkkejä
p {
    color:purple;
}

h4 {
    color:red;
}

tr {
    background-color:lime;
}

section {
    border-width: 2px;
    border-style: dashed;
}

a:link {
    color:lightblue;
}

a:visited {
    color:red;
}
li:hover {
    color:yellow; 
}

h1::after {
    content: url(big_ben.jpg);
}
*/

body {
    background-color:black;
     
}

tr {
    background-color: lightblue;
    color: black;
}

article {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

figure {
    border-style: dashed;
    padding: 5px;
}

.london_video {
    position: absolute;
    left: 800px;
    top: 140px;
}

a:hover {
    color:yellow;
}

li:nth-child(2):hover {
    color: red;
}

header + p {
    color: blue;
}

img.vaakuna {
    float: left;
    padding: 5px;
}

.basic {
    clear: both;
    display: -mox-box;
    display: -webkit-box;
    display: box;
    box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
}

.myheader {
    color: white;
    background-color:lightblue;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-image: url(osalo.jpg);
    background-position: left;
}

#nav {
    background-color:gray;
    border-radius: 10px;
    font-size: 12px;
    font-family: tahoma;
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

.london {
    background: linear-gradient(green,orange, yellow, blue, black, red); 
}

@media screen and (min-width: 500px)
    {
    .vienna {
        background-color: yellow;
    }
}
    
@media screen and (min-width: 1000px)
    {
    .vienna {
        background-color: purple;
    }
}

@media screen and (min-width: 1400px)
    {
    .vienna {
        background-color: cyan;
    }
}
    


footer {
    color: white;
    text-align: right;
}

ol li {
    
    display: inline-block;
    background: lightblue;
    border-radius: 10px;
    padding: 7px;
    margin: auto;
    font-family: arial;
    border-style: dotted;
    border-width: 1px;
}
