extends layout

block content
  h1 Courses
  p Welcome
  h2(id="myheader",class="myclass") Testing appending new elements in jade
  input(type='text',data-type='search',id='test')
  ul(data-role='listview',data-filter='true',data-input='#test')
    each course in course_data
      li 
        a #{course.name}
        
  a(href="/appendCourse") Append course info